@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	overflow: hidden;
	color: #071013;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgb(254, 247, 241);
	position: relative;
	z-index: 1;
}

.main-content {
	display: flex;
	width: 95.5%;
}

.top-nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid black;
	background-color: rgba(254, 247, 241, 0.95);
	z-index: 1000;
}

.top-nav .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 1000;
	padding: 0 50px;
	z-index: 100;
}

.logo {
	display: flex;
	align-items: center;
}

.logo i {
	font-size: 2.2rem;
	margin-right: 10px;
}

.hamburger-menu {
	font-size: 1.5rem;
	cursor: pointer;
	background-color: #d15f5f;
	color: #fff;
	padding: 8px 10px;
	box-shadow: 4px 4px black;
}

.close-show-members {
	transform: translateX(100%);
}

.show-members {
	position: fixed;
	top: 0;
	right: 0;
	background-color: #d15f5f;
	z-index: 3;
	width: 400px;
	height: 100vh;
	color: #fff;
	padding: 0 20px;
	transition: transform 0.5s ease-in-out;
}

.show-members .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	border-bottom: 1px solid gainsboro;
}

.show-members .members-list {
	font-size: 1.4rem;
}

.show-members .close-button {
	cursor: pointer;
}

.members-list a {
	text-decoration: none;
	color: #fff;
}

.left-side {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid black;
	padding: 0 40px;
}

.left-side .pt1 {
	font-size: 5rem;
	margin-top: 2rem;
}

.left-side .section {
	background-color: #b89b5d;
	color: #fef7f1;
	font-size: 4rem;
	font-weight: 800;
	padding: 10px 20px;
	box-shadow: 16px 16px black;
	margin: 0;
}

.rigth-side {
	flex: 2;
	display: flex;
	justify-content: center;
}

.calculator {
	height: 550px;
	width: 400px;
	border: 5px solid gray;
	border-radius: 50px;
	padding: 3rem 2rem;
	background-color: #f4f0bb;
	transform: scale(0.9);
	z-index: 1;
}

.input {
	height: 20%;
	border: 3px solid black;
	border-radius: 20px;
	box-shadow: 3px 3px black;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #bbddf5;
}

.prev-calc {
	font-size: 2rem;
	font-weight: 800;
}

.curr-calc {
	font-size: 4rem;
	font-weight: 1000;
}

.prev-calc,
.curr-calc {
	overflow: hidden;
	width: 100%;
	display: flex;
	justify-content: end;
	white-space: nowrap;
}

.btn-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 30px 0;
}

.btn-grid button a {
	text-decoration: none;
	color: #000;
}

button {
	font-size: 2rem;
	font-weight: 800;
	margin: 7px;
	box-shadow: 3px 3px black;
	border-radius: 10px;
	cursor: pointer;
	background-color: #e9e9f5;
}

button:hover {
	opacity: 0.8;
}

button:active {
	opacity: 0.6;
}

.pink-btn {
	background-color: #c9eddc;
}

.cyan-btn {
	background-color: #63f9c0;
}

@media (max-width: 1100px) {
	.main-content {
		flex-direction: column;
		overflow-x: hidden;
	}

	.main-content .left-side .pt1 {
		font-size: 3.4rem;
	}

	.main-content .left-side .section {
		font-size: 2.1rem;
	}

	.main-content .left-side {
		border-right: none;
		border-bottom: 1px solid black;
		padding-bottom: 5rem;
	}

	.show-members {
		width: 300px;
	}

	.show-members .members-list {
		font-size: 1.4rem;
	}

	.calculator {
		transform: scale(0.8);
	}
}
